<div class="app">
  <div class="header">
    <div class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href=""><i class="fa-solid fa-house"></i>Trang chủ</a>
        </li>
        <li class="nav-item">Nav 2</li>
        <li class="nav-item">Nav 3</li>
      </ul>
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="login"><i class="fa-solid fa-lock"></i>Đăng nhập</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <nav class="sidebar">
      <ul>
        <li class="dropdown">
          <a href="#">Sách tư duy - Kỹ năng sống</a>
          <ul>
            <li><a href="#">Sách kiểu ABC</a></li>
            <li><a href="#">Sách kiểu DEF</a></li>
            <li><a href="#">Sách kiểu...</a></li>
            <li><a href="#">Sách kiểu...</a></li>
          </ul>
        </li>
        <li><a href="#">Tiểu thuyết</a></li>
        <li><a href="#">Kiến thức - Bách khoa</a></li>
        <li><a href="#">Truyện ngắn - Tản văn</a></li>
        <li><a href="#">Sách học tiếng anh</a></li>
        <li><a href="#">Truyện tranh</a></li>
        <li><a href="#">Sách self-helf</a></li>
      </ul>
    </nav>
    <div class="content-body">
      <div class="slider">
        <div class="slider__title">
          <p>Top borrowed books</p>
        </div>
        <div class="slider__list">
          <div class="top-book--item" *ngFor="let topBook of topBooks">
            <img [src]="topBook.image" alt="" class="top-book__img" />
            <div class="top-book__body">
              <div class="top-book__borrowred-num">
                <i class="fa-solid fa-user"></i>
                <p>24</p>
              </div>
              <p class="top-book__price">
                {{ topBook.price }}<i class="fa-brands fa-bitcoin"></i>
              </p>
              <div class="top-book__rate book__rate--5">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="more-book">
            <i class="fa-solid fa-angle-right"></i>
            <p>Xem thêm</p>
          </div>
        </div>
      </div>
      <div class="books-list">
        <div class="book--item" *ngFor="let book of books" (click)="goToDetailBook(book.id)">
          <img [src]="book.image" alt="" class="book__img" />
          <div class="book-body">
            <p class="book__title">
              {{ book.title }}
            </p>
            <div class="book__rate book__rate--{{ book.rate }}">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h3 class="book__cost">{{ book.price }}<i class="fa-brands fa-bitcoin"></i></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Slider -->
  <div class="slider"></div>
</div>

<!-- <app-drawer [visible]="visible" [position]="position" [header]="'Drawer Header'" (onHide)="onDrawerHide()">
  <ul class="app-list">
    <li class="app-list-item">
      <em class="fa fa-home app-list-icons"></em>
      Home
    </li>
    <li class="app-list-item">
      <em class="fa fa-smile app-list-icons"></em>
      some content
    </li>
  </ul>
</app-drawer>

<div class="buttons">
  <div class="mb-10">
    <button class="app-button mr-5" (click)="setVisibility('left')">Left</button>
    <button class="app-button mr-5" (click)="setVisibility('right')">Right</button>

  </div>
</div> -->
