.slider {
    display: flex;
    flex-direction: row;
}

.slider__item {
    width: 300px;
    margin: 12px;
}

.slider__item:hover .slider__body{
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease;
}

.slider__img {
    width: 300px;
    display: block;
    border-radius: 8px 8px 0 0;
    transition: opacity 0.5s ease;
}

.slider__img:hover {
    opacity: 0.7;
    /* transform: linear .8 ease; */
}

.slider__body {
    width: 300px;
    background-color: #fff;
    padding: 8px;
    border-radius: 0 0 8px 8px;
}

.swiper-slide {
    margin: 0;
}